<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.speaklikeabrazilian" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SpeakLikeABrazilian</name>
    <description>
        App to learn common expressions and slangs in Brazilian Portuguese.
    </description>
    <author email="brunodepaulak@yahoo.com.br" href="http://speaklikeabrazilian.com">
        Bruno P. Kinoshita, The Speak Like A Brazilian team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
